/* Write your CSS here */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-style: solid;
  border-radius: 5px;
}

.light-mode {
  background-color: white;
  color: black;
}
.dark-mode {
  background-color: black;
  color: white;
}
.heading {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.button {
  color: black;
  background-color: white;
  border-style: solid;
  padding: 5px;
}
